# **DS 3001 Final Project - Project Results**

Luke McMeans (@McMeans), Nithil Suresh (@Nithil-Suresh), Bay Wiggins (@baywigg)

# Importing/Preparing Data

In [146]:
# relevant imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [147]:
# load and show df
df = pd.read_csv('./clean_data/kenpom_barttorvik_clean.csv')
df

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
0,2025,Akron,2,MAC,2,13,64,113.7490,66,107.1760,...,36.6,52,31.9,75,45.4,52,38.0,152,2.383,73
1,2025,Alabama,3,SEC,2,2,8,126.5980,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
2,2025,Alabama St.,4,SWAC,4,16,64,101.4540,271,110.6890,...,32.9,224,33.4,160,42.9,85,39.5,206,2.346,83
3,2025,American,6,Pat,2,16,68,102.0950,253,108.0710,...,35.1,106,33.6,171,44.8,58,35.7,80,2.039,181
4,2025,Arizona,8,B12,2,4,16,122.5670,13,96.8244,...,32.4,250,33.6,171,34.6,295,41.9,285,1.920,225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142,2008,West Virginia,235,BE,1,7,16,113.5700,33,93.4302,...,35.8,142,35.4,188,35.0,155,32.1,98,1.679,181
1143,2008,Western Kentucky,236,SB,1,12,16,111.0760,54,97.0110,...,38.6,34,32.5,48,32.4,211,31.6,87,2.066,55
1144,2008,Winthrop,239,BSth,4,13,64,99.6932,230,92.3864,...,37.4,79,31.0,23,31.7,231,42.8,332,1.963,89
1145,2008,Wisconsin,240,B10,3,3,16,113.6190,32,86.2081,...,35.9,135,31.1,24,31.1,246,32.8,122,1.939,98
1146,2008,Xavier,244,A10,1,3,8,116.4130,12,94.0680,...,39.2,25,33.5,82,37.1,99,37.8,276,2.038,63

# Approach 1 - Logistic Regression

# Approach 2 - Random Forest Classifier

# Approach 3 - Neural Network

# Bonus - Predicting Champion based on Previous Winners

In [157]:
df_2025 = df[df['year'] == 2025]
previous_winners = df[(df['year'] != 2025) & (df['round'] == 1)]
previous_winners

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
80,2024,Connecticut,40,BE,4,1,1,126.608,1,94.3949,...,36.7,30,31.9,67,40.9,89,33.2,50,1.709,283
145,2023,Connecticut,40,BE,1,4,1,119.437,6,94.0686,...,35.7,93,30.0,15,42.0,64,30.3,14,1.724,274
229,2022,Kansas,86,B12,1,1,1,119.389,6,93.8965,...,35.5,75,30.1,26,33.8,275,34.2,71,2.082,150
276,2021,Baylor,14,B12,2,1,1,123.265,3,93.7679,...,41.8,1,34.0,183,39.2,131,34.3,79,1.967,95
402,2019,Virginia,229,ACC,2,1,1,123.571,2,87.9163,...,40.9,4,27.2,1,38.7,174,40.9,264,1.552,214
469,2018,Villanova,228,BE,2,1,1,127.384,1,95.9749,...,39.8,21,32.8,51,46.6,16,35.5,110,1.313,286
509,2017,North Carolina,135,ACC,1,1,1,122.075,4,94.0654,...,36.7,94,34.2,120,30.0,312,39.4,285,1.917,99
604,2016,Villanova,228,BE,4,2,1,118.299,15,91.5520,...,34.4,184,33.5,112,43.8,24,37.5,264,1.709,183
625,2015,Duke,50,ACC,1,1,1,124.253,3,94.9453,...,38.6,27,32.0,66,34.5,166,27.7,15,1.062,331
690,2014,Connecticut,40,Amer,3,7,1,111.355,57,92.2385,...,38.7,26,32.9,95,33.8,154,31.6,129,2.055,79
777,2013,Louisville,102,BE,4,1,1,114.313,17,83.1717,...,33.1,214,31.2,52,30.3,257,33.5,191,1.726,181
839,2012,Kentucky,90,SEC,4,1,1,120.566,2,88.8382,...,37.1,59,32.1,75,27.3,299,30.0,77,0.776,340
894,2011,Connecticut,40,BE,3,3,1,114.804,21,93.1006,...,33.2,223,33.5,121,29.3,259,31.1,113,0.943,334
959,2010,Duke,50,ACC,1,1,1,119.296,4,87.7467,...,38.2,31,28.2,3,32.8,156,24.7,7,2.027,67
1052,2009,North Carolina,135,ACC,1,1,1,122.645,1,94.0872,...,37.3,53,35.0,224,27.7,292,32.7,166,2.031,59
1104,2008,Kansas,86,B12,3,1,1,121.433,1,87.4681,...,39.9,14,34.0,110,29.2,287,38.1,285,2.047,60

In [158]:
conf_values = set(previous_winners['conf'])
df_2025 = df_2025[df_2025['conf'].isin(conf_values)]
df_2025

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
1,2025,Alabama,3,SEC,2,2,8,126.598,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
4,2025,Arizona,8,B12,2,4,16,122.567,13,96.8244,...,32.4,250,33.6,171,34.6,295,41.9,285,1.920,225
5,2025,Arkansas,10,SEC,3,10,16,112.943,73,95.2503,...,33.3,204,31.9,75,36.7,242,39.5,206,1.364,341
6,2025,Auburn,12,SEC,4,1,4,128.505,1,93.4663,...,36.8,42,29.2,5,40.6,139,34.8,51,2.573,20
7,2025,Baylor,14,B12,2,9,32,120.886,16,99.7268,...,34.7,131,35.4,279,40.2,150,40.8,254,1.871,245
9,2025,BYU,25,B12,2,6,16,123.050,12,100.6540,...,37.1,33,34.8,246,48.3,16,44.4,332,1.889,239
10,2025,Clemson,33,ACC,1,5,64,118.690,24,94.7724,...,37.2,31,32.2,87,38.4,186,38.3,161,2.503,37
12,2025,Connecticut,40,BE,3,8,32,121.965,14,102.6330,...,35.4,90,35.1,264,42.6,90,34.2,38,1.638,302
13,2025,Creighton,43,BE,4,9,32,116.968,35,98.2653,...,33.9,177,32.7,114,49.0,11,35.2,63,1.954,219
15,2025,Duke,50,ACC,2,1,4,127.999,2,89.8470,...,37.7,22,30.9,36,45.4,52,37.9,148,0.968,361
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
17,2025,Georgia,65,SEC,1,9,64,115.468,52,96.1035,...,33.5,193,30.9,36,36.8,239,40.6,245,1.393,339
21,2025,Houston,76,B12,1,1,2,123.269,11,87.8253,...,39.8,4,30.9,36,34.5,296,43.1,310,2.278,105
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
24,2025,Kansas,86,B12,3,7,64,116.021,48,92.7610,...,35.2,102,30.9,36,34.3,297,40.7,249,2.526,31
25,2025,Kentucky,90,SEC,1,3,16,123.868,8,99.6111,...,37.4,26,30.8,32,41.7,115,43.5,317,2.329,88
28,2025,Louisville,102,ACC,4,8,64,118.177,27,95.5301,...,33.0,218,33.7,177,48.1,19,39.7,214,2.555,23
29,2025,Marquette,107,BE,4,7,64,117.695,32,96.1073,...,32.5,246,31.8,69,46.3,40,39.8,218,2.084,165
32,2025,Memphis,111,Amer,3,5,64,113.302,71,98.1617,...,38.0,18,32.2,87,33.1,323,40.7,249,2.425,63
35,2025,Mississippi,119,SEC,4,6,16,117.897,31,95.8241,...,34.1,163,32.7,114,40.2,150,44.0,324,2.701,7
36,2025,Mississippi St.,120,SEC,2,8,64,118.786,23,98.6992,...,31.4,298,36.1,319,42.3,99,44.2,327,2.053,175
37,2025,Missouri,122,SEC,3,6,64,125.359,5,100.9700,...,37.0,36,33.4,160,41.5,120,38.2,156,2.197,135
43,2025,North Carolina,135,ACC,4,11,64,118.913,22,99.3766,...,35.3,96,33.5,167,37.0,229,37.9,148,1.623,307
44,2025,Oklahoma,153,SEC,3,9,64,119.062,21,100.7170,...,37.0,36,30.5,22,41.9,111,41.9,285,2.256,112
52,2025,St. John's,192,BE,3,2,32,113.938,64,87.5628,...,30.4,338,31.8,69,30.3,347,40.8,254,2.120,151
53,2025,Tennessee,199,SEC,1,2,8,119.981,18,88.5426,...,34.0,174,27.8,1,43.0,83,45.1,341,2.650,11
54,2025,Texas,200,SEC,1,11,68,116.755,38,99.6019,...,36.0,66,33.3,153,35.4,272,36.2,94,2.185,137
55,2025,Texas A&M,201,SEC,4,4,32,116.281,43,92.2075,...,31.1,318,33.4,160,37.6,209,47.0,353,2.764,3
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214
62,2025,Vanderbilt,225,SEC,2,10,64,118.017,30,101.8540,...,32.5,246,36.9,338,40.2,150,37.5,130,1.973,213
66,2025,Xavier,244,BE,1,11,64,115.459,53,98.2866,...,38.8,6,33.9,190,37.4,215,37.2,119,2.524,32

In [159]:
min_seed = previous_winners['seed'].max()
df_2025 = df_2025[df_2025['seed'] <= min_seed]
df_2025

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
1,2025,Alabama,3,SEC,2,2,8,126.598,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
4,2025,Arizona,8,B12,2,4,16,122.567,13,96.8244,...,32.4,250,33.6,171,34.6,295,41.9,285,1.920,225
6,2025,Auburn,12,SEC,4,1,4,128.505,1,93.4663,...,36.8,42,29.2,5,40.6,139,34.8,51,2.573,20
9,2025,BYU,25,B12,2,6,16,123.050,12,100.6540,...,37.1,33,34.8,246,48.3,16,44.4,332,1.889,239
10,2025,Clemson,33,ACC,1,5,64,118.690,24,94.7724,...,37.2,31,32.2,87,38.4,186,38.3,161,2.503,37
15,2025,Duke,50,ACC,2,1,4,127.999,2,89.8470,...,37.7,22,30.9,36,45.4,52,37.9,148,0.968,361
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
21,2025,Houston,76,B12,1,1,2,123.269,11,87.8253,...,39.8,4,30.9,36,34.5,296,43.1,310,2.278,105
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
24,2025,Kansas,86,B12,3,7,64,116.021,48,92.7610,...,35.2,102,30.9,36,34.3,297,40.7,249,2.526,31
25,2025,Kentucky,90,SEC,1,3,16,123.868,8,99.6111,...,37.4,26,30.8,32,41.7,115,43.5,317,2.329,88
29,2025,Marquette,107,BE,4,7,64,117.695,32,96.1073,...,32.5,246,31.8,69,46.3,40,39.8,218,2.084,165
32,2025,Memphis,111,Amer,3,5,64,113.302,71,98.1617,...,38.0,18,32.2,87,33.1,323,40.7,249,2.425,63
35,2025,Mississippi,119,SEC,4,6,16,117.897,31,95.8241,...,34.1,163,32.7,114,40.2,150,44.0,324,2.701,7
37,2025,Missouri,122,SEC,3,6,64,125.359,5,100.9700,...,37.0,36,33.4,160,41.5,120,38.2,156,2.197,135
52,2025,St. John's,192,BE,3,2,32,113.938,64,87.5628,...,30.4,338,31.8,69,30.3,347,40.8,254,2.120,151
53,2025,Tennessee,199,SEC,1,2,8,119.981,18,88.5426,...,34.0,174,27.8,1,43.0,83,45.1,341,2.650,11
55,2025,Texas A&M,201,SEC,4,4,32,116.281,43,92.2075,...,31.1,318,33.4,160,37.6,209,47.0,353,2.764,3
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214

In [160]:
min_barthag = previous_winners['barthag'].min()
min_barthag_rank = previous_winners['barthag_rank'].max()
print(min_barthag)
print(min_barthag_rank)
df_2025 = df_2025[(df_2025['barthag'] >= min_barthag) & (df_2025['barthag_rank'] <= min_barthag_rank)]
df_2025

0.893
23

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
1,2025,Alabama,3,SEC,2,2,8,126.598,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
4,2025,Arizona,8,B12,2,4,16,122.567,13,96.8244,...,32.4,250,33.6,171,34.6,295,41.9,285,1.920,225
6,2025,Auburn,12,SEC,4,1,4,128.505,1,93.4663,...,36.8,42,29.2,5,40.6,139,34.8,51,2.573,20
9,2025,BYU,25,B12,2,6,16,123.050,12,100.6540,...,37.1,33,34.8,246,48.3,16,44.4,332,1.889,239
10,2025,Clemson,33,ACC,1,5,64,118.690,24,94.7724,...,37.2,31,32.2,87,38.4,186,38.3,161,2.503,37
15,2025,Duke,50,ACC,2,1,4,127.999,2,89.8470,...,37.7,22,30.9,36,45.4,52,37.9,148,0.968,361
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
21,2025,Houston,76,B12,1,1,2,123.269,11,87.8253,...,39.8,4,30.9,36,34.5,296,43.1,310,2.278,105
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
24,2025,Kansas,86,B12,3,7,64,116.021,48,92.7610,...,35.2,102,30.9,36,34.3,297,40.7,249,2.526,31
25,2025,Kentucky,90,SEC,1,3,16,123.868,8,99.6111,...,37.4,26,30.8,32,41.7,115,43.5,317,2.329,88
37,2025,Missouri,122,SEC,3,6,64,125.359,5,100.9700,...,37.0,36,33.4,160,41.5,120,38.2,156,2.197,135
52,2025,St. John's,192,BE,3,2,32,113.938,64,87.5628,...,30.4,338,31.8,69,30.3,347,40.8,254,2.120,151
53,2025,Tennessee,199,SEC,1,2,8,119.981,18,88.5426,...,34.0,174,27.8,1,43.0,83,45.1,341,2.650,11
55,2025,Texas A&M,201,SEC,4,4,32,116.281,43,92.2075,...,31.1,318,33.4,160,37.6,209,47.0,353,2.764,3
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214

In [161]:
min_3pt_pct = previous_winners['3pt'].min()
min_3pt_pct_rank = previous_winners['3ptd_rank'].max()
min_2pt_pct = previous_winners['2pt'].min()
min_2pt_pct_rank = previous_winners['2ptd_rank'].max()
min_efg_pct = previous_winners['efg'].min()
min_efg_pct_rank = previous_winners['efg_rank'].max()
print(min_3pt_pct)
print(min_3pt_pct_rank)
print(min_2pt_pct)
print(min_2pt_pct_rank)
print(min_efg_pct)
print(min_efg_pct_rank)
df_2025 = df_2025[(df_2025['3pt'] >= min_3pt_pct) & (df_2025['3ptd_rank'] <= min_3pt_pct_rank) & (df_2025['2pt'] >= min_2pt_pct) & (df_2025['2ptd_rank'] <= min_2pt_pct_rank) & (df_2025['efg'] >= min_efg_pct) & (df_2025['efg_rank'] <= min_efg_pct_rank)]

min_3ptd_pct = previous_winners['3ptd'].max()
min_3ptd_pct_rank = previous_winners['3ptd_rank'].max()
min_2ptd_pct = previous_winners['2ptd'].max()
min_2ptd_pct_rank = previous_winners['2ptd_rank'].max()
min_efgd_pct = previous_winners['efgd'].max()
min_efgd_pct_rank = previous_winners['efgd_rank'].max()
print(min_3ptd_pct)
print(min_3ptd_pct_rank)
print(min_2ptd_pct)
print(min_2ptd_pct_rank)
print(min_efgd_pct)
print(min_efgd_pct_rank)
df_2025 = df_2025[(df_2025['3ptd'] <= min_3ptd_pct) & (df_2025['3ptd_rank'] <= min_3ptd_pct_rank) & (df_2025['2ptd'] <= min_2ptd_pct) & (df_2025['2ptd_rank'] <= min_2ptd_pct_rank) & (df_2025['efgd'] <= min_efgd_pct) & (df_2025['efgd_rank'] <= min_efgd_pct_rank)]
df_2025

33.1
224
46.8
152
48.1
215
35.0
224
49.3
152
49.2
130

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
1,2025,Alabama,3,SEC,2,2,8,126.598,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
6,2025,Auburn,12,SEC,4,1,4,128.505,1,93.4663,...,36.8,42,29.2,5,40.6,139,34.8,51,2.573,20
10,2025,Clemson,33,ACC,1,5,64,118.690,24,94.7724,...,37.2,31,32.2,87,38.4,186,38.3,161,2.503,37
15,2025,Duke,50,ACC,2,1,4,127.999,2,89.8470,...,37.7,22,30.9,36,45.4,52,37.9,148,0.968,361
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
21,2025,Houston,76,B12,1,1,2,123.269,11,87.8253,...,39.8,4,30.9,36,34.5,296,43.1,310,2.278,105
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
24,2025,Kansas,86,B12,3,7,64,116.021,48,92.7610,...,35.2,102,30.9,36,34.3,297,40.7,249,2.526,31
53,2025,Tennessee,199,SEC,1,2,8,119.981,18,88.5426,...,34.0,174,27.8,1,43.0,83,45.1,341,2.650,11
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214

In [162]:
min_3ptr_pct = previous_winners['3ptr'].min()
min_3ptr_pct_rank = previous_winners['3ptr_rank'].max()
print(min_3ptr_pct)
print(min_3ptr_pct_rank)
df_2025 = df_2025[(df_2025['3ptr'] >= min_3ptr_pct) & (df_2025['3ptr_rank'] <= min_3ptr_pct_rank)]

min_3ptrd_pct = previous_winners['3ptrd'].max()
min_3ptrd_pct_rank = previous_winners['3ptrd_rank'].max()
print(min_3ptrd_pct)
print(min_3ptrd_pct_rank)
df_2025 = df_2025[(df_2025['3ptrd'] <= min_3ptrd_pct) & (df_2025['3ptrd_rank'] <= min_3ptrd_pct_rank)]
df_2025

27.3
312
40.9
285

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
1,2025,Alabama,3,SEC,2,2,8,126.598,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
6,2025,Auburn,12,SEC,4,1,4,128.505,1,93.4663,...,36.8,42,29.2,5,40.6,139,34.8,51,2.573,20
10,2025,Clemson,33,ACC,1,5,64,118.690,24,94.7724,...,37.2,31,32.2,87,38.4,186,38.3,161,2.503,37
15,2025,Duke,50,ACC,2,1,4,127.999,2,89.8470,...,37.7,22,30.9,36,45.4,52,37.9,148,0.968,361
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
24,2025,Kansas,86,B12,3,7,64,116.021,48,92.7610,...,35.2,102,30.9,36,34.3,297,40.7,249,2.526,31
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214

In [163]:
min_oreb_pct = previous_winners['oreb'].min()
min_oreb_pct_rank = previous_winners['oreb_rank'].max()
print(min_oreb_pct)
print(min_oreb_pct_rank)
df_2025 = df_2025[(df_2025['oreb'] >= min_oreb_pct) & (df_2025['oreb_rank'] <= min_oreb_pct_rank)]

min_dreb_pct = previous_winners['dreb'].min()
min_dreb_pct_rank = previous_winners['dreb_rank'].max()
print(min_dreb_pct)
print(min_dreb_pct_rank)
df_2025 = df_2025[(df_2025['dreb'] >= min_dreb_pct) & (df_2025['dreb_rank'] <= min_dreb_pct_rank)]
df_2025

28.6
212
65.3
279

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
1,2025,Alabama,3,SEC,2,2,8,126.598,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
6,2025,Auburn,12,SEC,4,1,4,128.505,1,93.4663,...,36.8,42,29.2,5,40.6,139,34.8,51,2.573,20
10,2025,Clemson,33,ACC,1,5,64,118.690,24,94.7724,...,37.2,31,32.2,87,38.4,186,38.3,161,2.503,37
15,2025,Duke,50,ACC,2,1,4,127.999,2,89.8470,...,37.7,22,30.9,36,45.4,52,37.9,148,0.968,361
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
24,2025,Kansas,86,B12,3,7,64,116.021,48,92.7610,...,35.2,102,30.9,36,34.3,297,40.7,249,2.526,31
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214

In [164]:
min_ftr_pct = previous_winners['ftr'].min()
min_ftr_pct_rank = previous_winners['ftr_rank'].max()
print(min_ftr_pct)
print(min_ftr_pct_rank)
df_2025 = df_2025[(df_2025['ftr'] >= min_ftr_pct) & (df_2025['ftr_rank'] <= min_ftr_pct_rank)]

min_ftrd_pct = previous_winners['ftrd'].max()
min_ftrd_pct_rank = previous_winners['ftrd_rank'].max()
print(min_ftrd_pct)
print(min_ftrd_pct_rank)
df_2025 = df_2025[(df_2025['ftrd'] <= min_ftrd_pct) & (df_2025['ftrd_rank'] <= min_ftrd_pct_rank)]
df_2025

27.0
304
38.7
323

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
1,2025,Alabama,3,SEC,2,2,8,126.598,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
15,2025,Duke,50,ACC,2,1,4,127.999,2,89.8470,...,37.7,22,30.9,36,45.4,52,37.9,148,0.968,361
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214

In [165]:
min_exp = previous_winners['exp'].min()
min_exp_rank = previous_winners['exp_rank'].max()
print(min_exp)
print(min_exp_rank)
df_2025 = df_2025[(df_2025['exp'] >= min_exp) & (df_2025['exp_rank'] <= min_exp_rank)]
df_2025

0.776
340

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
1,2025,Alabama,3,SEC,2,2,8,126.598,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214