# **DS 3001 Final Project - Project Results**

Luke McMeans (@McMeans), Nithil Suresh (@Nithil-Suresh), Bay Wiggins (@baywigg)

# Importing/Preparing Data

In [243]:
# relevant imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [244]:
# load and show df
df = pd.read_csv('./clean_data/kenpom_barttorvik_clean.csv')
df

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
0,2025,Akron,2,MAC,2,13,64,113.7490,66,107.1760,...,36.6,52,31.9,75,45.4,52,38.0,152,2.383,73
1,2025,Alabama,3,SEC,2,2,8,126.5980,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
2,2025,Alabama St.,4,SWAC,4,16,64,101.4540,271,110.6890,...,32.9,224,33.4,160,42.9,85,39.5,206,2.346,83
3,2025,American,6,Pat,2,16,68,102.0950,253,108.0710,...,35.1,106,33.6,171,44.8,58,35.7,80,2.039,181
4,2025,Arizona,8,B12,2,4,16,122.5670,13,96.8244,...,32.4,250,33.6,171,34.6,295,41.9,285,1.920,225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142,2008,West Virginia,235,BE,1,7,16,113.5700,33,93.4302,...,35.8,142,35.4,188,35.0,155,32.1,98,1.679,181
1143,2008,Western Kentucky,236,SB,1,12,16,111.0760,54,97.0110,...,38.6,34,32.5,48,32.4,211,31.6,87,2.066,55
1144,2008,Winthrop,239,BSth,4,13,64,99.6932,230,92.3864,...,37.4,79,31.0,23,31.7,231,42.8,332,1.963,89
1145,2008,Wisconsin,240,B10,3,3,16,113.6190,32,86.2081,...,35.9,135,31.1,24,31.1,246,32.8,122,1.939,98
1146,2008,Xavier,244,A10,1,3,8,116.4130,12,94.0680,...,39.2,25,33.5,82,37.1,99,37.8,276,2.038,63

# Approach 1 - Logistic Regression

# Approach 2 - Random Forest Classifier

# Approach 3 - Neural Network

# Bonus - Predicting Champion based on Previous Winners

As an extra method prediction is to eliminate every team that missed the minimum threshold for a certain stat (based on the past winners).

In [1]:
# split into two dataframes, 2025 and past winners
df_2025 = df[df['year'] == 2025]
previous_winners = df[(df['year'] != 2025) & (df['round'] == 1)]
previous_winners

NameError: name 'df' is not defined

Only a select few conferences have had a winner in the tournament. Given the dominance of Power 5 programs in the tournament, let's isolate these. We'll also add the Big 10 because they're capable as well despite the lack of champion in recent years.

In [283]:
# filter by conferences
conf_values = set(previous_winners['conf']) | {'B10'} 
print("Conferences with a Champ (since '08):", conf_values)
df_2025 = df_2025[df_2025['conf'].isin(conf_values)]
df_2025

Conferences with a Champ (since '08): {'BE', 'Amer', 'SEC', 'B10', 'B12', 'ACC'}

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
1,2025,Alabama,3,SEC,2,2,8,126.598,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
4,2025,Arizona,8,B12,2,4,16,122.567,13,96.8244,...,32.4,250,33.6,171,34.6,295,41.9,285,1.920,225
5,2025,Arkansas,10,SEC,3,10,16,112.943,73,95.2503,...,33.3,204,31.9,75,36.7,242,39.5,206,1.364,341
6,2025,Auburn,12,SEC,4,1,4,128.505,1,93.4663,...,36.8,42,29.2,5,40.6,139,34.8,51,2.573,20
7,2025,Baylor,14,B12,2,9,32,120.886,16,99.7268,...,34.7,131,35.4,279,40.2,150,40.8,254,1.871,245
9,2025,BYU,25,B12,2,6,16,123.050,12,100.6540,...,37.1,33,34.8,246,48.3,16,44.4,332,1.889,239
10,2025,Clemson,33,ACC,1,5,64,118.690,24,94.7724,...,37.2,31,32.2,87,38.4,186,38.3,161,2.503,37
12,2025,Connecticut,40,BE,3,8,32,121.965,14,102.6330,...,35.4,90,35.1,264,42.6,90,34.2,38,1.638,302
13,2025,Creighton,43,BE,4,9,32,116.968,35,98.2653,...,33.9,177,32.7,114,49.0,11,35.2,63,1.954,219
15,2025,Duke,50,ACC,2,1,4,127.999,2,89.8470,...,37.7,22,30.9,36,45.4,52,37.9,148,0.968,361
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
17,2025,Georgia,65,SEC,1,9,64,115.468,52,96.1035,...,33.5,193,30.9,36,36.8,239,40.6,245,1.393,339
21,2025,Houston,76,B12,1,1,2,123.269,11,87.8253,...,39.8,4,30.9,36,34.5,296,43.1,310,2.278,105
22,2025,Illinois,78,B10,1,6,32,121.633,15,98.0448,...,31.1,318,33.3,153,46.9,31,30.4,3,1.177,350
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
24,2025,Kansas,86,B12,3,7,64,116.021,48,92.7610,...,35.2,102,30.9,36,34.3,297,40.7,249,2.526,31
25,2025,Kentucky,90,SEC,1,3,16,123.868,8,99.6111,...,37.4,26,30.8,32,41.7,115,43.5,317,2.329,88
28,2025,Louisville,102,ACC,4,8,64,118.177,27,95.5301,...,33.0,218,33.7,177,48.1,19,39.7,214,2.555,23
29,2025,Marquette,107,BE,4,7,64,117.695,32,96.1073,...,32.5,246,31.8,69,46.3,40,39.8,218,2.084,165
30,2025,Maryland,109,B10,3,4,16,118.089,28,91.7546,...,37.2,31,30.7,28,35.5,271,35.8,82,1.640,301
32,2025,Memphis,111,Amer,3,5,64,113.302,71,98.1617,...,38.0,18,32.2,87,33.1,323,40.7,249,2.425,63
33,2025,Michigan,114,B10,4,5,16,116.787,37,94.9671,...,33.4,198,31.3,49,42.5,91,38.9,188,2.239,116
34,2025,Michigan St.,115,B10,4,2,8,118.056,29,90.4900,...,30.8,327,27.9,2,32.7,331,41.4,275,1.752,276
35,2025,Mississippi,119,SEC,4,6,16,117.897,31,95.8241,...,34.1,163,32.7,114,40.2,150,44.0,324,2.701,7
36,2025,Mississippi St.,120,SEC,2,8,64,118.786,23,98.6992,...,31.4,298,36.1,319,42.3,99,44.2,327,2.053,175
37,2025,Missouri,122,SEC,3,6,64,125.359,5,100.9700,...,37.0,36,33.4,160,41.5,120,38.2,156,2.197,135
43,2025,North Carolina,135,ACC,4,11,64,118.913,22,99.3766,...,35.3,96,33.5,167,37.0,229,37.9,148,1.623,307
44,2025,Oklahoma,153,SEC,3,9,64,119.062,21,100.7170,...,37.0,36,30.5,22,41.9,111,41.9,285,2.256,112
45,2025,Oregon,157,B10,2,5,32,116.643,41,96.4943,...,34.0,174,31.7,63,38.6,178,37.4,124,2.452,52
46,2025,Purdue,167,B10,1,4,16,124.163,7,100.3630,...,38.5,10,30.7,28,38.1,194,42.7,301,1.484,328
52,2025,St. John's,192,BE,3,2,32,113.938,64,87.5628,...,30.4,338,31.8,69,30.3,347,40.8,254,2.120,151
53,2025,Tennessee,199,SEC,1,2,8,119.981,18,88.5426,...,34.0,174,27.8,1,43.0,83,45.1,341,2.650,11
54,2025,Texas,200,SEC,1,11,68,116.755,38,99.6019,...,36.0,66,33.3,153,35.4,272,36.2,94,2.185,137
55,2025,Texas A&M,201,SEC,4,4,32,116.281,43,92.2075,...,31.1,318,33.4,160,37.6,209,47.0,353,2.764,3
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214
59,2025,UCLA,212,B10,1,7,32,116.828,36,95.0405,...,35.2,102,33.2,140,36.0,260,44.8,337,1.849,251
62,2025,Vanderbilt,225,SEC,2,10,64,118.017,30,101.8540,...,32.5,246,36.9,338,40.2,150,37.5,130,1.973,213
64,2025,Wisconsin,240,B10,2,3,32,123.276,10,96.8339,...,34.9,122,33.0,126,48.1,19,39.1,195,2.223,123
66,2025,Xavier,244,BE,1,11,64,115.459,53,98.2866,...,38.8,6,33.9,190,37.4,215,37.2,119,2.524,32

Let's also eliminate teams that have a lower seed (larger in value) than the lowest champion. This would be 7-seed UConn in 2014.

In [284]:
# filter by lowest seed
min_seed = previous_winners['seed'].max()
print("Lowest seed:", min_seed)
df_2025 = df_2025[df_2025['seed'] <= min_seed]
df_2025

Lowest seed: 7

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
1,2025,Alabama,3,SEC,2,2,8,126.598,4,96.6919,...,35.0,116,30.8,32,46.2,43,35.1,59,1.819,261
4,2025,Arizona,8,B12,2,4,16,122.567,13,96.8244,...,32.4,250,33.6,171,34.6,295,41.9,285,1.920,225
6,2025,Auburn,12,SEC,4,1,4,128.505,1,93.4663,...,36.8,42,29.2,5,40.6,139,34.8,51,2.573,20
9,2025,BYU,25,B12,2,6,16,123.050,12,100.6540,...,37.1,33,34.8,246,48.3,16,44.4,332,1.889,239
10,2025,Clemson,33,ACC,1,5,64,118.690,24,94.7724,...,37.2,31,32.2,87,38.4,186,38.3,161,2.503,37
15,2025,Duke,50,ACC,2,1,4,127.999,2,89.8470,...,37.7,22,30.9,36,45.4,52,37.9,148,0.968,361
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
21,2025,Houston,76,B12,1,1,2,123.269,11,87.8253,...,39.8,4,30.9,36,34.5,296,43.1,310,2.278,105
22,2025,Illinois,78,B10,1,6,32,121.633,15,98.0448,...,31.1,318,33.3,153,46.9,31,30.4,3,1.177,350
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
24,2025,Kansas,86,B12,3,7,64,116.021,48,92.7610,...,35.2,102,30.9,36,34.3,297,40.7,249,2.526,31
25,2025,Kentucky,90,SEC,1,3,16,123.868,8,99.6111,...,37.4,26,30.8,32,41.7,115,43.5,317,2.329,88
29,2025,Marquette,107,BE,4,7,64,117.695,32,96.1073,...,32.5,246,31.8,69,46.3,40,39.8,218,2.084,165
30,2025,Maryland,109,B10,3,4,16,118.089,28,91.7546,...,37.2,31,30.7,28,35.5,271,35.8,82,1.640,301
32,2025,Memphis,111,Amer,3,5,64,113.302,71,98.1617,...,38.0,18,32.2,87,33.1,323,40.7,249,2.425,63
33,2025,Michigan,114,B10,4,5,16,116.787,37,94.9671,...,33.4,198,31.3,49,42.5,91,38.9,188,2.239,116
34,2025,Michigan St.,115,B10,4,2,8,118.056,29,90.4900,...,30.8,327,27.9,2,32.7,331,41.4,275,1.752,276
35,2025,Mississippi,119,SEC,4,6,16,117.897,31,95.8241,...,34.1,163,32.7,114,40.2,150,44.0,324,2.701,7
37,2025,Missouri,122,SEC,3,6,64,125.359,5,100.9700,...,37.0,36,33.4,160,41.5,120,38.2,156,2.197,135
45,2025,Oregon,157,B10,2,5,32,116.643,41,96.4943,...,34.0,174,31.7,63,38.6,178,37.4,124,2.452,52
46,2025,Purdue,167,B10,1,4,16,124.163,7,100.3630,...,38.5,10,30.7,28,38.1,194,42.7,301,1.484,328
52,2025,St. John's,192,BE,3,2,32,113.938,64,87.5628,...,30.4,338,31.8,69,30.3,347,40.8,254,2.120,151
53,2025,Tennessee,199,SEC,1,2,8,119.981,18,88.5426,...,34.0,174,27.8,1,43.0,83,45.1,341,2.650,11
55,2025,Texas A&M,201,SEC,4,4,32,116.281,43,92.2075,...,31.1,318,33.4,160,37.6,209,47.0,353,2.764,3
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214
59,2025,UCLA,212,B10,1,7,32,116.828,36,95.0405,...,35.2,102,33.2,140,36.0,260,44.8,337,1.849,251
64,2025,Wisconsin,240,B10,2,3,32,123.276,10,96.8339,...,34.9,122,33.0,126,48.1,19,39.1,195,2.223,123

Each statisitic has a rank associated with it. Let's make sure that each team meets the minimum threshold for these ranks as well, based on the previous champions.

In [285]:
# get every column that is ranked
rank_columns = [col for col in df_2025.columns if 'rank' in col]

# iterate through columns
for col in rank_columns:
    # filter by lowest rank for that stat
    min_stat_rank = previous_winners[col].max()
    df_2025 = df_2025[(df_2025[col] <= min_stat_rank)]

df_2025

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
6,2025,Auburn,12,SEC,4,1,4,128.505,1,93.4663,...,36.8,42,29.2,5,40.6,139,34.8,51,2.573,20
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
23,2025,Iowa St.,83,B12,4,3,32,119.483,20,92.4824,...,35.8,71,33.2,140,36.9,234,40.7,249,2.401,70
30,2025,Maryland,109,B10,3,4,16,118.089,28,91.7546,...,37.2,31,30.7,28,35.5,271,35.8,82,1.640,301
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214

At the same time, there's been a ceiling for these ranks. After filtering for that, we will have the teams that fit within the ranks interval for each statistic.

In [286]:
# iterate through columns
for col in rank_columns:
    # filter by highest rank for that stat
    max_stat_rank = previous_winners[col].min()
    df_2025 = df_2025[(df_2025[col] >= max_stat_rank)]

df_2025

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241
30,2025,Maryland,109,B10,3,4,16,118.089,28,91.7546,...,37.2,31,30.7,28,35.5,271,35.8,82,1.640,301
56,2025,Texas Tech,204,B12,3,3,8,125.335,6,97.2799,...,37.9,19,31.7,63,44.6,62,34.1,34,1.972,214

Now, let's do the same for the rest of the numeric data. However, doing this for every stat will result in an empty result. Therefore, let's only check for the lower bound of the KenPom efficiencies.

In [287]:
numeric_columns = [col for col in df_2025.columns if df_2025[col].dtype.kind in 'bifc' and col not in ['year', 'round', 'team_id', 'quad_id'] and not col.endswith('rank')]
lower_bound_cols = ['kadj_o', 'kadj_d', 'kadj_em']
numeric_columns = [col for col in numeric_columns if col not in lower_bound_cols]

# filter through lower bound kenpom data
min_kadj_o = previous_winners['kadj_o'].min()
max_kadj_d = previous_winners['kadj_d'].max()
min_kadj_em = previous_winners['kadj_em'].min()
df_2025 = df_2025[(df_2025['kadj_o'] >= max_stat_rank) & (df_2025['kadj_d'] <= max_kadj_d) & (df_2025['kadj_em'] >= min_kadj_em)]

# filter through the rest of the numeric variables
for col in numeric_columns:
    # find min and max of the stat
    min_stat = previous_winners[col].min()
    max_stat = previous_winners[col].max()
    # filter through the stat
    df_2025 = df_2025[(df_2025[col] >= min_stat) & (df_2025[col] <= max_stat)]
df_2025

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,3pt,3pt_rank,3ptd,3ptd_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank,exp,exp_rank
16,2025,Florida,55,SEC,3,1,1,127.938,3,92.1126,...,35.5,86,29.6,8,43.6,76,37.3,122,1.887,241

Based on these filters, the predicted champion is Florida. As you can see by the `round` value, this was correct!! We can see this worked for this year, but it won't for every year. For 2024, UConn (the correct champion) was the only team to remain after rank filtering, but didn't pass through the final filtering. For 2023, no team made it past the lower-threshold rank filtering.