# **DS 3001 Final Project - Project Results**

Luke McMeans (@McMeans), Nithil Suresh (@Nithil-Suresh), Bay Wiggins (@baywigg)

# Importing/Preparing Data

In [2]:
# relevant imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# load and show df
df = pd.read_csv('./clean_data/kenpom_barttorvik_clean.csv')
df

,year,team,team_id,conf,quad_id,seed,round,kadj_o,kadj_o_rank,kadj_d,...,2pt%d,2pt%d_rank,3pt%,3pt%_rank,3pt%d,3pt%d_rank,3ptr,3ptr_rank,3ptrd,3ptrd_rank
0,2025,Akron,2,MAC,2,13,64,113.7490,66,107.1760,...,50.6,171,36.6,52,31.9,75,45.4,52,38.0,152
1,2025,Alabama,3,SEC,2,2,8,126.5980,4,96.6919,...,48.8,96,35.0,116,30.8,32,46.2,43,35.1,59
2,2025,Alabama St.,4,SWAC,4,16,64,101.4540,271,110.6890,...,50.4,158,32.9,224,33.4,160,42.9,85,39.5,206
3,2025,American,6,Pat,2,16,68,102.0950,253,108.0710,...,53.1,270,35.1,106,33.6,171,44.8,58,35.7,80
4,2025,Arizona,8,B12,2,4,16,122.5670,13,96.8244,...,47.2,43,32.4,250,33.6,171,34.6,295,41.9,285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142,2008,West Virginia,235,BE,1,7,16,113.5700,33,93.4302,...,45.1,55,35.8,142,35.4,188,35.0,155,32.1,98
1143,2008,Western Kentucky,236,SB,1,12,16,111.0760,54,97.0110,...,46.0,80,38.6,34,32.5,48,32.4,211,31.6,87
1144,2008,Winthrop,239,BSth,4,13,64,99.6932,230,92.3864,...,45.8,76,37.4,79,31.0,23,31.7,231,42.8,332
1145,2008,Wisconsin,240,B10,3,3,16,113.6190,32,86.2081,...,41.3,5,35.9,135,31.1,24,31.1,246,32.8,122
1146,2008,Xavier,244,A10,1,3,8,116.4130,12,94.0680,...,44.6,41,39.2,25,33.5,82,37.1,99,37.8,276

# Approach 1 - Logistic Regression

# Approach 2 - Random Forest Classifier

# Approach 3 - Neural Network